<header>
    <div class="menu_container" (click)="OpenMenu()">
        <img src="img/menu_icon.svg" alt="">
    </div>

    <div class="profile_button" [class.hidden]="isProfileOpen" (click)="OpenProfileMenu()">
        <img src="img/user_icon.svg" alt="">
    </div>

    <div class="profile_menu" [class.hidden]="!isProfileOpen">

        <div class="profile_info">
            <p>{{ userEmail }}</p>

            <div class="profile_button" (click)="CloseProfileMenu()">
                <img src="img/user_icon.svg" alt="">
            </div>
        </div>

        <div class="profile_menu_options">
            <a href="#" (click)="OnLogout()">Log Out</a>
        </div>
    </div>
</header>

<div class="side_menu" [class.hidden]="!isMenuOpen">
    <div class="logo">
        <img src="img/ford.png" width="100%" alt="">
    </div>

    <button class="menu_option selected" (click)="CloseMenu()">
        Home
    </button>

    <button class="menu_option" (click)="ChangePage('/dashboard')">
        Dashboard
    </button>
</div>

<div class="menu_fade" [class.hidden]="!isMenuOpen"></div>