* {
    --menu_option_brown: rgb(153, 61, 0);
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    display: flex;
    flex: 1;
    flex-grow: 1;
    min-height: 100%;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-image: url('../img/ranger.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
}

header {
    top: 0;

    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;

    width: 100%;
    height: 10rem;
    padding: 2rem;
}

/*----- HEADER -----*/

.menu_container {
    box-sizing: content-box;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    padding: 0.5rem;
    background-color: none;

    transition: scale 50ms ease-in-out;
}

.menu_container:hover {
    background-color: rgba(0, 0, 0, 0.187);
}

.menu_container:active {
    scale: 0.8;
}

.menu_container img {
    width: 100%;
    height: 100%;
    filter: invert(58%) sepia(25%) saturate(869%) hue-rotate(85deg) brightness(92%) contrast(85%);
}

/*----- USER PROFILE -----*/

/* PROFILE BUTTON*/

.profile_button {
    width: 5rem;
    height: 5rem;
    padding: 0.5rem;

    border: 2px solid rgb(158, 158, 158);
    border-radius: 100%;

    transition: scale 50ms ease-in-out;
}

.profile_button.hidden {
    display: none;
}

.profile_button:hover {
    background-color: rgba(0, 0, 0, 0.187);
}

.profile_button:active {
    scale: 0.8;
}

.profile_button img {
    width: 100%;
    height: 100%;
}

/* PROFILE MENU*/

.profile_menu.hidden {
    display: none;
}

.profile_menu {
    z-index: 10;
    background-color: white;
    border: 2px solid rgb(158, 158, 158);
    border-radius: 0.5rem;

    font-size: 1.5rem;
    font-weight: 600;
    color: var(--highlight);
}

.profile_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 1rem 2rem;

    border-bottom: 2px solid gray;
}

.profile_menu_options {
    padding: 2rem;
}

.profile_menu_options a:link, a:visited{
    color: var(--highlight);
}

.profile_menu_options a:hover{
    color: var(--highlight);
    font-weight: bold;
}

/*----- CARTÃO DE INFORMAÇÃO -----*/

.info_card {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.918);
    min-width: 65rem;

    max-height: 60rem;
    height: 80vh;
    min-height: 10rem;

    justify-self: center;
    align-self: center;

    border: 2px solid gray;
    border-radius: 1rem;

    font-size: 2rem;
    font-weight: 500;
}

.info_content{
    padding: 1.5rem;
    color: #3a97e4;
}

.info_title {
    padding: 1.5rem;

    color: rgb(58, 58, 58);
    border-bottom: 2px solid rgba(128, 128, 128, 0.301);
}


/*----- MENU -----*/

.menu_fade {
    z-index: 2;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    background-color: rgba(13, 82, 36, 0.644);
}

.menu_fade.hidden {
    display: none;
}

.side_menu {
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: column;
    
    height: 100vh;
    /*width: 40rem;*/
    width: min(100%, 40rem);
    left: 0;

    background-color: white;
}

.side_menu.hidden {
    display: none;
}

.side_menu .logo {
    display: flex;
    width: 17rem;
    max-height: fit-content;
    padding: 1rem 2rem;
}

.menu_option {
    display: flex;
    width: 100%;
    padding: 3rem 0;
    padding-left: 3rem;
    background-color: rgb(201, 201, 201);
    border: none;

    font-size: 2rem;
    color: rgb(0, 151, 0);
}

.menu_option:hover {
    background-color: rgb(212, 212, 212);

    font-size: 2.2rem;
    font-weight: bold;
}

.menu_option:active {
   background-color: rgb(178, 178, 178); 
}

.menu_option.selected {
    border-left: 0.5rem solid var(--menu_option_brown);
}

@media (max-width: 680px) {

    .info_card {
        margin: 0 4rem;
        min-width: 85%;
    }

}

@media (max-width: 400px) {

    header:has(.profile_menu:not(.hidden)) {
        justify-content: end;
    }

    header:has(.profile_menu:not(.hidden)) .menu_container {
        display: none;
    }

}